<div class="container">
  <nav class="mt-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/demo-1">Basic Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/demo-2">Simple counter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/demo-3">Advanced counter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" routerLink="/demo-4">HTTP Request example</a>
      </li>
    </ul>
  </nav>

  <hr/>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
