<h1>Making HTTP Requests</h1>

<p *ngIf="characters.length <= 0">No Characters.</p>
<table *ngIf="characters.length > 0" class="table table-hover">
  <thead>
    <tr>
      <td>Picture</td>
      <td>Name</td>
      <td>Status</td>
      <td>Species</td>
      <td>Gender</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td>
        <img width="80" class="rounded" [src]="character.image" [alt]="character.name">
      </td>
      <td>{{ character.name }}</td>
      <td>{{ character.status }}</td>
      <td>{{ character.species }}</td>
      <td>{{ character.gender }}</td>
    </tr>
  </tbody>
</table>
